bRadius = 5px

.nodeWrapper
  display: block

.hexa
  background-color: white
  height: 30px
  margin-top: 30px
  position: relative
  width: 50px

  > img
    height: 30px
    left: 10px
    position: absolute
    width: 30px

  &:before
    border-bottom: 15px solid white
    border-left: 25px solid transparent
    border-right: 25px solid transparent
    content: ''
    height: 0
    position: absolute
    top: -15px
    width: 0

  &:after
    border-left: 25px solid transparent
    border-right: 25px solid transparent
    border-top: 15px solid white
    bottom: -15px
    content: ''
    position: absolute
    width: 0

.regionNode
  background: white
  border-radius: 75px
  height: 100px
  width: 100px

  > img
    height: 70px
    padding: 15px 0 0 15px
    width: 70px

.entityNodeTitle
  color: black
  display: inline-block
  font-size: 12px
  font-weight: bold
  left: -25px
  position: relative
  text-align: center
  top: 15px
  width: 100px
  word-wrap: break-word

.regionTitle
  @extend .entityNodeTitle
  font-size: 14px
  left: -40px
  width: 180px

  > strong
    color: #868da1
    display: inline-block
    font-size: 12px
    font-weight: notmal
    width: 100%

.vpcNodeWrapper
  background: white
  border-radius: bRadius
  width: 295px

  .vpcNodeHeader
    display: flex
    height: 25px
    justify-content: center

    .vpcNodeTitle
      background: #f19e39
      border-radius: 0 0 bRadius bRadius
      color: white
      padding: 0 20px

  .vpcNodeBody
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    padding: 15px 10px 10px

    .vpcNodeItem
      background: #f0f3fb
      border-radius: bRadius
      color: #868da1
      font-size: 8px
      margin: 0 5px 5px 0
      padding: 4px 10px
      text-align: center

      &:nth-child(3n+3)
        margin: 0 0 5px
