body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  color: #868ca1;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
